
@model BuildMonitor.Models.Home.OctopusProject




@foreach (var env in Model.OctopusEnvironments)
{

    <div  class="col-md-2">
        <div class="wellOctopus">
            
            <span>@env.OctopusItem.State</span>

        </div>
    </div>
}

