@model BuildMonitor.Models.Home.MainMonitorViewMod
@{
	ViewBag.Title = "Build Monitor";
}




    <div class="projectRow">
        
        <div class="row">
            <div class ="col-md-12" align="center">
                <h3 class="projectTitle">▪▪▪ TeamCity ▪▪▪</h3>
            </div>

        </div>
        <div class="row">
            @foreach (var project in Model.BuildMonitor.Projects)
            {
                if (project.Builds.Count == 0)
                {
                    continue;
                }
                
                
                foreach (var build in project.Builds)
                 {
                     @Html.Partial("~/Views/Shared/_BuildItem.cshtml", build)

                 }
                
            }
                
        </div>
        
        <div class="row">
            <div class="col-md-12" align="center">
                <h3 class="projectTitle" >▪▪▪ Octopus ▪▪▪</h3>
            </div>
        </div>
        <div class="row" >

            @foreach (var octo in Model.OctopusMonitor.OctopusProjects)
            {
                    <div class="row" align="center">
                        @Html.Partial("~/Views/Shared/_BuildOctopus.cshtml", octo)
                    </div>
            }

        </div>
    </div>




@section scripts {
	@Scripts.Render("~/bundles/home")
}